<!DOCTYPE html>
<html lang="en" data-ng-app="expensesApp">
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
    <script src="lib/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
    <script src="lib/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/library.js"></script>
    <script src="js/controllers/expensesCtrl.js"></script>
    <script src="js/services/expensesService.js"></script>
    <script src="js/services/categoriesService.js"></script>
    <script src="js/apps/expensesApp.js"></script>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="lib/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
    <style>
      .hero-unit {
        text-align: right;
        padding: 20px;
      }
      .hero-unit h1 {
        font-size: 1.75em;
        margin: 10px;
      }
      .input-prepend input {
        width: 180px;
      }
      td.action {
        min-width: 3em;
      }
      h2 {
        font-size: 1.15em;
        text-transform: uppercase;
        line-height: 30px;
      }
      .chart {
        min-height: 100px;
        margin-bottom: 0;
      }
      .accordion-heading {
        background-color: #eee;
      }
      .accordion-heading a {
        color: #222;
      }
    </style>
  </head>
  <body data-ng-controller="ExpensesController" data-ng-init="init()">
    <div class="hero-unit">
      <h1>Expenses</h1>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#" onclick="return notImplemented()" data-toggle="tab tooltip" title="Log and manage expenses. View summaries of expenses.">Expenses</a></li>
            <li><a href="#" onclick="return notImplemented()" data-toggle="tab tooltip" title="Calculate and log financial summaries. View summaries of finances.">Finances</a></li>
            <li><a href="#" onclick="return notImplemented()" data-toggle="tab tooltip" title="Manage categories for expenses.">Categories</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span3">
          <div class="accordion" id="add-expense-accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#add-expense-accordion" href="#add-expense-accordion-body">Add expense</a>
              </div> <!-- .accordion-heading -->
              <div id="add-expense-accordion-body" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <form data-ng-submit="addExpense()">
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label" for="inputDate">Date</label>
                        <div class="controls">
                          <input class="span12" type="text" id="inputDate" data-ng-model="expense.date">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="selectCategory">Category</label>
                        <div class="controls">
                          <select class="span12" id="selectCategory" data-ng-model="expense.category_id">
                            <option data-ng-repeat="category in categoriesData | orderBy: 'category'" value="{{category.id}}">{{category.category}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputDescription">Description</label>
                        <div class="controls">
                          <textarea class="span12" id="inputDescription" data-ng-model="expense.description"></textarea>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputPrice">Price</label>
                        <div class="controls">
                          <div class="input-prepend">
                            <span class="add-on">$</span>
                            <input type="text" id="inputPrice" placeholder="price" data-ng-model="expense.cost">
                          </div>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn btn-primary" type="button" data-ng-disabled="!(expense.category_id && expense.description && expense.cost)">Add expense</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div><!-- .accordion-inner -->
              </div> <!-- .accordion-body#add-expense-accordion-body -->
            </div> <!-- .accordion-group -->
          </div> <!-- .accordion -->
        </div> <!-- .row3 -->
    
        <!--Body content-->
        <div class="span6">
          <h2>View expenses</h2>
          <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Category</th>
              <th>Description</th>
              <th colspan="2">Price</th>
            </tr>

            <tr data-ng-repeat="expense in expensesData | orderBy: 'date':true">
              <td>{{timeAgo( expense.date )}}</td>
              <td>{{getExpense( expense.category_id )}}</td>
              <td>{{expense.description}}</td>
              <td>${{expense.cost}}</td>
              <td class="action"><a href="#" onclick="return notImplemented()"><i class="icon-edit" data-toggle="tooltip" title="Edit this expense"></i></a> <a href="#" onclick="return notImplemented()"><i class="icon-remove" data-toggle="tooltip" title="Delete this expense"></i></a></td>
            </tr>
          </table>
        </div> <!-- .span6 -->

        <div class="span3">
          <div class="accordion" id="expense-summaries-accordion">
            <!-- / / / / / / / / / / / / / / / -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#expense-summaries-accordion" href="#daily-expense-summary-body">Daily expense summary</a>
              </div><!-- .accordion-heading -->
              <div id="daily-expense-summary-body" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <div class="chart well">
                    [chart, last 7 days]
                  </div>
                </div>
              </div><!-- .accordion-body -->
            </div> <!-- .accordion-group -->

            <!-- / / / / / / / / / / / / / / / -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#expense-summaries-accordion" href="#weekly-expense-summary-body">Weekly expense summary</a>
              </div><!-- .accordion-heading -->
              <div id="weekly-expense-summary-body" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="chart well">
                    [chart, last 5 weeks]
                  </div>
                </div>
              </div><!-- .accordion-body -->
            </div> <!-- .accordion-group -->
            
            <!-- / / / / / / / / / / / / / / / -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#expense-summaries-accordion" href="#monthly-expense-summary-body">Monthly expense summary</a>
              </div><!-- .accordion-heading -->
              <div id="monthly-expense-summary-body" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="chart well">
                    [chart, last 6 months]
                  </div>
                </div>
              </div><!-- .accordion-body -->
            </div> <!-- .accordion-group -->

            <!-- / / / / / / / / / / / / / / / -->
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#expense-summaries-accordion" href="#annual-expense-summary-body">Annual expense summary</a>
              </div><!-- .accordion-heading -->
              <div id="annual-expense-summary-body" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="chart well">
                    [chart, last 6 years]
                  </div>
                </div>
              </div><!-- .accordion-body -->
            </div> <!-- .accordion-group -->
 
          </div><!-- .accordion -->
        </div> <!-- .span3 -->
      </div> <!-- .row-fluid -->
    </div> <!-- .container-fluid -->
  </body>
</html>
