<!DOCTYPE html>
<html lang="en" data-ng-app="expensesApp">
  <head>
    <title>Expenses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/library.js"></script>
    <script src="js/controllers/expensesCtrl.js"></script>
    <script src="js/services/expensesService.js"></script>
    <script src="js/services/categoriesService.js"></script>
    <script src="js/apps/expensesApp.js"></script>
    <style>
      .hero-unit {
        text-align: right;
        padding: 20px;
      }
      .hero-unit h1 {
        font-size: 1.75em;
      }
    </style>
  </head>
  <body data-ng-controller="ExpensesController" data-ng-init="init()">
    <div class="hero-unit">
      <h1>Expenses</h1>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">

        <!--Sidebar content-->
        <div class="span4">
          <form class="form-horizontal" data-ng-submit="addExpense()">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="inputDate">Date</label>
                <div class="controls">
                  <input type="date" id="inputDate" data-ng-model="expense.date">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="selectCategory">Category</label>
                <div class="controls">
                  <select id="selectCategory" data-ng-model="expense.category_id">
                    <option data-ng-repeat="category in categoriesData | orderBy: 'category'" value="{{category.id}}">{{category.category}}</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>
                <div class="controls">
                  <textarea id="inputDescription" data-ng-model="expense.description"></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputPrice">Price</label>
                <div class="controls">
                  <input type="text" id="inputPrice" placeholder="price" data-ng-model="expense.cost">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-primary" type="button" data-ng-disabled="!(expense.category_id && expense.description && expense.cost)">Add expense</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
    
        <!--Body content-->
        <div class="span8">
          <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Category</th>
              <th>Description</th>
              <th>Price</th>
            </tr>

            <tr data-ng-repeat="expense in expensesData | orderBy: 'date':true">
              <td>{{timeAgo( expense.date )}}</td>
              <td>{{getExpense( expense.category_id )}}</td>
              <td>{{expense.description}}</td>
              <td>{{expense.cost}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
